[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/fbraenns/Desktop/Systeme_der_Gebaeudeautomation.pdf]
row=7
col=0

[/home/fbraenns/Desktop/arduino-arduinoide.desktop]
row=6
col=0

[/home/fbraenns/Desktop/ATT96022.spacemacs]
row=8
col=0

[/home/fbraenns/Desktop/init.vim]
row=5
col=0

[/home/fbraenns/Desktop/Steuerbescheud 2015.pdf]
row=0
col=1

[E4F643B6F64387AE]
row=1
col=0

[0D38-03A2]
row=1
col=1

[346CB4E96CB4A750]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/fbraenns]
row=4
col=0

